@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components
@using PersonalFinanceApp.Components.Layout
@using Microsoft.AspNetCore.Components.Web

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=app.css />
    <link href="_content/Blazorise.Bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="_content/Blazorise.Icons.FontAwesome/font-awesome.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <HeadOutlet />

</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelectorAll('.utc-time').forEach(el => {
                const utc = el.getAttribute("data-time");
                if (utc) {
                    const local = new Date(utc).toLocaleString();
                    el.textContent = local;
                }
            });
        });
    </script>
    <script>
        async function getUserIP() {
            try {
                const res = await fetch('https://api.ipify.org?format=json');
                const data = await res.json();
                return data.ip;
            } catch {
                return "unknown";
            }
        }
    </script>
    <script src="_content/Blazorise/blazorise.js"></script>
    <script src="_content/Blazorise.Bootstrap/blazorise.bootstrap.js"></script>
    <script src="_content/Blazorise.Charts/charts.js"></script>
    
</body>

</html>