@using Microsoft.EntityFrameworkCore
@using PersonalFinanceApp.Data
@using Microsoft.AspNetCore.Components.Authorization;
@rendermode InteractiveServer
@inject NavigationManager UriHelper
@inject AppDbContext DbContext
@inject IJSRuntime JSRuntime

@page "/login"


<h3>Login</h3>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger">@ErrorMessage</div>
}

<div>
    <input class="m-3" placeholder="Enter username" @bind="UserName" />
</div>
<div>
    <input type="password" class="m-3" placeholder="Enter password" @bind="Password" />
</div>
<button class="btn btn-primary m-3" @onclick="LoginUser">Login</button>

@code {
    private string UserName { get; set; }
    private string Password { get; set; }
    private string ErrorMessage { get; set; }
    private bool IsUserLoggedIn { get; set; }

    private async Task LoginUser()
    {
        ErrorMessage = null;
        var user = await DbContext.Users
            .FirstOrDefaultAsync(u => u.UserName == UserName);

        if (user == null)
        {
            ErrorMessage = "Invalid username or password.";
            return;
        }
        var passwordHasher = new Microsoft.AspNetCore.Identity.PasswordHasher<User>();
        var result = passwordHasher.VerifyHashedPassword(null, user.PasswordHash, Password);

        if (result == Microsoft.AspNetCore.Identity.PasswordVerificationResult.Failed)
        {
            ErrorMessage = "Invalid username or password.";
            return;
        }
        await JSRuntime.InvokeVoidAsync("localStorage.setItem", "userName", UserName);
        UriHelper.NavigateTo("/dashboard");
    }
}
