@using Microsoft.EntityFrameworkCore
@using PersonalFinanceApp.Data
@using Microsoft.AspNetCore.Components.Authorization;
@rendermode InteractiveServer
@inject NavigationManager UriHelper
@inject AppDbContext DbContext
@inject IJSRuntime JSRuntime

@page "/login"


<h3 class="login-title">Login</h3>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger">@ErrorMessage</div>
}

<div class="login-form">
    <input class="input-field" type="text" placeholder="Enter username" @bind="UserName" />
    <input class="input-field" type="password" placeholder="Enter password" @bind="Password" />
    <button class="btn login-btn" @onclick="LoginUser">Login</button>
</div>
<div class="login-register-redirect">
    New to the Personal Finance App?
    <a href="/register" class="register-link">Register now</a>
</div>


@code {
    private string UserName { get; set; }
    private string Password { get; set; }
    private string ErrorMessage { get; set; }
    private bool IsUserLoggedIn { get; set; }

    private async Task LoginUser()
    {
        ErrorMessage = null;
        var user = await DbContext.Users
            .FirstOrDefaultAsync(u => u.UserName == UserName);

        if (user == null)
        {
            ErrorMessage = "Invalid username or password.";
            return;
        }
        var passwordHasher = new Microsoft.AspNetCore.Identity.PasswordHasher<User>();
        var result = passwordHasher.VerifyHashedPassword(null, user.PasswordHash, Password);

        if (result == Microsoft.AspNetCore.Identity.PasswordVerificationResult.Failed)
        {
            ErrorMessage = "Invalid username or password.";
            return;
        }
        await JSRuntime.InvokeVoidAsync("localStorage.setItem", "userName", UserName);
        UriHelper.NavigateTo("/dashboard");
    }
}
