@inherits LayoutComponentBase

<PageTitle>PersonalFinanceApp</PageTitle>

<div class="layout">
    <aside class="sidebar">
        <NavMenu />
    </aside>

    <div class="main-content">
        <header class="top-bar">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank" class="about-link">About</a>
        </header>

        <section class="content">
            @Body
        </section>
    </div>
</div>
