@inherits LayoutComponentBase

<PageTitle>PersonalFinanceApp</PageTitle>

<nav class="navbar">
    <div class="navbar-brand">💰 Personal Finance Manager</div>
    <div class="navbar-links">
        <NavLink href="" Match="NavLinkMatch.All" class="nav-link">Home</NavLink>
        <NavLink href="register" class="nav-link">Register</NavLink>
        <NavLink href="login" class="nav-link">Login</NavLink>
        <a href="https://docs.microsoft.com/aspnet/" target="_blank" class="nav-link">About</a>
    </div>
</nav>

<main class="main-content">
    <section class="content">
        @Body
    </section>
</main>
